<template name="lists">
    <h3>Todo Lists</h3>
    {{#if loading}}
    <div id="lists">Loading...</div>
    {{else}}
    <div id="lists" class="s-items">

    </div>
    <div id="createList">
        <input type="text" id="new-list" placeholder="New list" />
    </div>
    {{/if}}
</template>

<template name="list">
    <div class="list {{selected}}" data-id="{{_id}}">
        {{#if editing}}
        <div class="edit">
            <input class="list-name-input" id="list-name-input" type="text" value="{{name}}" />
        </div>
        {{else}}
        <div class="display">
            <a class="list-name {{name_class}}" href="/{{_id}}">
                {{name}}
            </a>
            {{#if can_delete}}
            <div class="destroy"></div>
            {{/if}}
        </div>
        {{/if}}
    </div>
</template>